.white-block-text {
    text-align: left; /* Вирівнюємо текст праворуч */
    font-size: 17px; /* Розмір шрифту для першого тексту */
    font-weight: bold; /* Жирний текст для першого тексту */
    margin-top: -1px; /* Підняти текст вгору на 20 пікселів */
    margin-left: 20px; /* Зсунути текст праворуч на 10 пікселів */
    color: blue;
  }
  
  .top {
    text-align: left; /* Вирівнюємо текст праворуч */
    margin-top: -15px; /* Підняти текст вгору на 20 пікселів */
    margin-left: 20px; /* Зсунути текст праворуч на 10 пікселів */
    color: rgb(150, 150, 151); /* Змінити колір тексту на червоний */
    font-size: 17px; /* Розмір шрифту для другого тексту */
  }
  
  .center1-text {
    font-size: 20px;
    text-align: left; /* Вирівнюємо текст по центру */
    margin-left: 40px; /* Зсунути текст праворуч на 10 пікселів */
    margin-top: -85px; /* Підняти текст вгору на 20 пікселів */
    font-weight: bold; /* Жирний текст для першого тексту */
    font-size: 17px; /* Розмір шрифту для другого тексту */
    color: rgb(94, 94, 99); /* Змінити колір тексту на червоний */
    position: absolute;
    top: 50%; /* Розміщуємо текст по вертикалі в центрі */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Вирівнюємо по вертикалі за допомогою трансформації */
  }
  
  .center1-text::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Зсув лінії вниз */
    left: 0;
    right: 0;
    height: 1px;
    background-color: #b8b6b6; /* Колір лінії */
    width: 94%;
  }
  
  .center2-text {
    font-size: 20px;
    text-align: right; /* Вирівнюємо текст по центру */
    margin-top: -90px; /* Підняти текст вгору на 20 пікселів */
    margin-right: 40px;
    font-size: 25px; /* Розмір шрифту для другого тексту */
    color: rgb(94, 94, 99); /* Змінити колір тексту на червоний */
    position: absolute;
    top: 50%; /* Розміщуємо текст по вертикалі в центрі */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Вирівнюємо по вертикалі за допомогою трансформації */
  }
  
  @media (max-width: 768px) {
    .center1-text {
      font-size: 16px;
      margin-left: 20px;
      margin-top: -65px;
    }
  
    .center2-text {
      font-size: 16px;
      margin-right: 20px;
      margin-top: -70px;
    }
  }
  
  .center3-text {
    text-align: left; /* Вирівнюємо текст по центру */
    margin-left: 40px; /* Зсунути текст праворуч на 10 пікселів */
    margin-top: -35px; /* Підняти текст вгору на 20 пікселів */
    font-weight: bold; /* Жирний текст для першого тексту */
    font-size: 17px; /* Розмір шрифту для другого тексту */
    color: red; /* Змінити колір тексту на червоний */
    position: absolute;
    top: 50%; /* Розміщуємо текст по вертикалі в центрі */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Вирівнюємо по вертикалі за допомогою трансформації */
  }
  
  .center3-text::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Зсув лінії вниз */
    left: 0;
    right: 0;
    height: 1px;
    background-color: #b8b6b6; /* Колір лінії */
    width: 94%;
  }
  
  .center4-text {
    text-align: right; /* Вирівнюємо текст по центру */
    margin-top: -30px; /* Підняти текст вгору на 20 пікселів */
    margin-right: 40px;
    font-size: 20px; /* Розмір шрифту для другого тексту */
    color: red; /* Змінити колір тексту на червоний */
    position: absolute;
    top: 50%; /* Розміщуємо текст по вертикалі в центрі */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Вирівнюємо по вертикалі за допомогою трансформації */
  }
  
  @media (max-width: 768px) {
    .center3-text {
      font-size: 14px;
      margin-left: 20px;
    }
  
    .center4-text {
      font-size: 14px;
      margin-right: 20px;
    }
  }
  
  .center5-text {
    text-align: left; /* Вирівнюємо текст по центру */
    margin-left: 40px; /* Зсунути текст праворуч на 10 пікселів */
    font-weight: bold; /* Жирний текст для першого тексту */
    font-size: 17px; /* Розмір шрифту для другого тексту */
    color: rgb(193, 191, 195); /* Змінити колір тексту на червоний */
    position: absolute;
    top: 50%; /* Розміщуємо текст по вертикалі в центрі */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Вирівнюємо по вертикалі за допомогою трансформації */
  }
  
  .center5-text::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Зсув лінії вниз */
    left: 0;
    right: 0;
    height: 1px;
    background-color: #b8b6b6; /* Колір лінії */
    width: 94%;
  }
  
  .center6-text {
    text-align: right; /* Вирівнюємо текст по центру */
    margin-right: 40px;
    font-size: 20px; /* Розмір шрифту для другого тексту */
    color: rgb(193, 191, 195); /* Змінити колір тексту на червоний */
    position: absolute;
    top: 50%; /* Розміщуємо текст по вертикалі в центрі */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Вирівнюємо по вертикалі за допомогою трансформації */
  }
  
  @media (max-width: 768px) {
    .center5-text {
      font-size: 14px; /* Новий розмір шрифту для екранів менше 768px */
      margin-left: 20px; /* Ваші інші зміни для цього класу */
    }
  
    .center6-text {
      font-size: 16px; /* Новий розмір шрифту для екранів менше 768px */
      margin-right: 20px; /* Ваші інші зміни для цього класу */
    }
  }
  
  .center7-text {
    text-align: left; /* Вирівнюємо текст по центру */
    margin-left: 40px; /* Зсунути текст праворуч на 10 пікселів */
    font-weight: bold; /* Жирний текст для першого тексту */
    font-size: 17px; /* Розмір шрифту для другого тексту */
    color: rgb(193, 191, 195); /* Змінити колір тексту на червоний */
    position: absolute;
    top: 60%; /* Розміщуємо текст по вертикалі в центрі */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Вирівнюємо по вертикалі за допомогою трансформації */
  }
  
  .center7-text::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Зсув лінії вниз */
    left: 0;
    right: 0;
    height: 1px;
    background-color: #b8b6b6; /* Колір лінії */
    width: 94%;
  }
  
  .center8-text {
    text-align: right; /* Вирівнюємо текст по центру */
    margin-right: 40px;
    font-size: 20px; /* Розмір шрифту для другого тексту */
    color: rgb(193, 191, 195); /* Змінити колір тексту на червоний */
    position: absolute;
    top: 60%; /* Розміщуємо текст по вертикалі в центрі */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Вирівнюємо по вертикалі за допомогою трансформації */
  }
  
  @media (max-width: 768px) {
    /* Для екранів менше 768px ви можете змінити стилі, наприклад: */
    .center7-text {
      font-size: 14px; /* Зміна розміру шрифту для малих екранів */
      margin-left: 20px; /* Зміна відступу для малих екранів */
    }
  
    .center8-text {
      font-size: 16px; /* Зміна розміру шрифту для малих екранів */
      margin-right: 20px; /* Зміна відступу для малих екранів */
    }
  }
  
  .bottom-text {
    text-align: left; /* Вирівнюємо текст праворуч */
    font-size: 23px; /* Розмір шрифту для першого тексту */
    position: absolute;
    bottom: 0; /* Розмістити текст знизу */
    bottom: 40px; /* Додатковий відступ від нижнього краю */
    margin-left: 20px; /* Зсунути текст праворуч на 10 пікселів */
  }
  
  .bottom {
    text-align: left; /* Вирівнюємо текст праворуч */
    font-size: 23px; /* Розмір шрифту для першого тексту */
    position: absolute;
    bottom: 0; /* Розмістити текст знизу */
    bottom: 15px; /* Додатковий відступ від нижнього краю */
    margin-left: 20px; /* Зсунути текст праворуч на 10 пікселів */
  }
  
  