/* Стилі для тексту */

.white-block-text {
    text-align: left; /* Вирівнюємо текст праворуч */
    font-size: 17px; /* Розмір шрифту для першого тексту */
    font-weight: bold; /* Жирний текст для першого тексту */
    margin-top: -1px; /* Підняти текст вгору на 20 пікселів */
    margin-left: 20px; /* Зсунути текст праворуч на 10 пікселів */
    color: blue;
  }
  
  .top {
    text-align: left; 
    margin-top: -15px; 
    margin-left: 20px; 
    color: rgb(150, 150, 151); 
    font-size: 17px; 
  }
  
  .center1-text {
    font-size: 20px;
    text-align: left; 
    margin-left: 40px; 
    margin-top: -85px; 
    font-weight: bold; 
    font-size: 17px; 
    color: rgb(94, 94, 99); 
    position: absolute;
    top: 50%; /* Розміщуємо текст по вертикалі в центрі */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Вирівнюємо по вертикалі за допомогою трансформації */
  }
  
  .center1-text::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Зсув лінії вниз */
    left: 0;
    right: 0;
    height: 1px;
    background-color: #b8b6b6; /* Колір лінії */
    width: 94%;
  }
  
  .center2-text {
    font-size: 20px;
    text-align: right; 
    margin-top: -90px; 
    margin-right: 40px;
    font-size: 25px; 
    color: rgb(94, 94, 99); 
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    transform: translateY(-50%); 
  }
  
  @media (max-width: 768px) {
    .center1-text {
      font-size: 16px;
      margin-left: 20px;
      margin-top: -65px;
    }
  
    .center2-text {
      font-size: 16px;
      margin-right: 20px;
      margin-top: -70px;
    }
  }
  
  .center3-text {
    text-align: left; 
    margin-left: 40px; 
    margin-top: -35px; 
    font-weight: bold;
    font-size: 17px; 
    color: red; 
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    transform: translateY(-50%); 
  }
  
  .center3-text::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Зсув лінії вниз */
    left: 0;
    right: 0;
    height: 1px;
    background-color: #b8b6b6; /* Колір лінії */
    width: 94%;
  }
  
  .center4-text {
    text-align: right; 
    margin-top: -30px; 
    margin-right: 40px;
    font-size: 20px; 
    color: red; /* Змінити колір тексту на червоний */
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    transform: translateY(-50%); 
  }
  
  @media (max-width: 768px) {
    .center3-text {
      font-size: 14px;
      margin-left: 20px;
    }
  
    .center4-text {
      font-size: 14px;
      margin-right: 20px;
    }
  }
  
  .center5-text {
    text-align: left; 
    margin-left: 40px; 
    font-weight: bold; 
    font-size: 17px; 
    color: rgb(193, 191, 195); 
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    transform: translateY(-50%); 
  }
  
  .center5-text::after {
    content: '';
    position: absolute;
    bottom: -10px; 
    left: 0;
    right: 0;
    height: 1px;
    background-color: #b8b6b6; 
    width: 94%;
  }
  
  .center6-text {
    text-align: right; 
    margin-right: 40px;
    font-size: 20px; 
    color: rgb(193, 191, 195); 
    position: absolute;
    top: 50%; 
    left: 0;
    right: 0;
    transform: translateY(-50%); 
  }
  
  @media (max-width: 768px) {
    .center5-text {
      font-size: 14px; /* Новий розмір шрифту для екранів менше 768px */
      margin-left: 20px; /* Відступ на 20 пікселів */
    }
  
    .center6-text {
      font-size: 16px; 
      margin-right: 20px; 
    }
  }
  
  .center7-text {
    text-align: left; 
    margin-left: 40px; 
    font-weight: bold; 
    font-size: 17px; 
    color: rgb(193, 191, 195); 
    position: absolute;
    top: 60%; 
    left: 0;
    right: 0;
    transform: translateY(-50%); 
  }
  
  .center7-text::after {
    content: '';
    position: absolute;
    bottom: -10px; 
    left: 0;
    right: 0;
    height: 1px;
    background-color: #b8b6b6; 
    width: 94%;
  }
  
  .center8-text {
    text-align: right; 
    margin-right: 40px;
    font-size: 20px; 
    color: rgb(193, 191, 195); 
    position: absolute;
    top: 60%; 
    left: 0;
    right: 0;
    transform: translateY(-50%); 
  }
  
  @media (max-width: 768px) {
    .center7-text {
      font-size: 14px; 
      margin-left: 20px; 
    }
  
    .center8-text {
      font-size: 16px; 
      margin-right: 20px; 
    }
  }
  
  .bottom-text {
    text-align: left; 
    font-size: 23px; 
    position: absolute;
    bottom: 0; 
    bottom: 40px; 
    margin-left: 20px; 
  }
  
  .bottom {
    text-align: left; 
    font-size: 23px; 
    position: absolute;
    bottom: 0; /* Розмістити текст знизу */
    bottom: 15px; /* Додатковий відступ від нижнього краю */
    margin-left: 20px; 
  }
  
  