.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  max-width: 100%; /* Зробив зображення адаптивним до ширини батьківського блока */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: rgb(220, 220, 246);
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px; /* Змінюємо розмір шрифту */
}

/* Стилі для контейнера "UA | EN" */
.right-align {
  display: flex;
  align-items: center;
}

.right-align .bold {
  font-weight: bold;
}

/* Додаткові стилі для UA | EN на малих екранах */
@media (max-width: 768px) {
  .right-align {
    justify-content: center; /* Вирівнюємо текст по центру на малих екранах */
  }
}

.center {
  text-align: center;
}

.text-container {
  display: flex;
  align-items: center; /* Розміщуємо елементи по вертикалі по центру */
}

.best-text {
  font-size: 25px; /* Змінюємо розмір шрифту для "Best" */
  margin-right: 1px; /* Додаємо зазор між "Best" і "Bank" */
  font-weight: bold;
}

.best-bank {
  font-size: 11px; /* Змінюємо розмір шрифту для "Bank" */
  margin-top: -11px; /* Піднімаємо "Bank" вище на 10 пікселів */
}

.bold {
  font-weight: bold;
}

.deposit {
  color: blue;
  font-weight: bold;
  font-size: 25px;
}


img {
  width: 20px; /* Задайте бажаний розмір для вашої картинки */
  margin-right: 5px; /* Встановіть бажаний відступ між картинкою і текстом */
}

.phone {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.phone img {
  max-width: 100%;
}

.phone .phone-number {
  font-size: 16px;
}

/* Для блока тексту і зображення на малих екранах */
@media (max-width: 768px) {
  .text-container {
    flex-direction: column; /* Змінюємо напрямок flex-контейнера на вертикальний */
    align-items: center; /* Вирівнюємо центрально по горизонталі */
  }

  .phone {
    text-align: center; /* Вирівнюємо текст по центру */
  }

  .phone img {
    margin-top: 10px; /* Додайте відступ від зверху */
  }

  .phone .phone-number {
    font-size: 14px; /* Задайте бажаний розмір шрифту для малих екранів */
  }
}

.blocks {
  margin-top: auto; /* Встановлюємо блоки і "внесення коштів" внизу контейнера */
}

.deposit {
  font-size: 25px; /* Змінюємо розмір шрифту */
  color: blue; /* Змінюємо колір тексту */
}

.blocks {
  display: flex;
  justify-content: space-between;
}

.block-container {
  margin: 10px;
  flex: 1;
}

.gray-block {
  background-color: rgb(193, 191, 195);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 25px;
}

.white-block {
  background-color: rgb(236, 239, 249);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 25px;
}

.cash-machine {
  width: 300px;
  height: 200px;
  margin: auto; /* Вирівняйте по центру по горизонталі */
  position: relative; /* Встановіть позицію relative для можливості вирівнювання по вертикалі */
  top: 40%; /* Зсуньте вниз на половину висоти блоку */
  transform: translateY(-50%); /* Здійсніть трансформацію, щоб вирівняти по вертикалі */
}












