.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  max-width: 100%; /* Зробив зображення адаптивним до ширини батьківського блока */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: rgb(189, 189, 245);
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 20px; /* Змінюємо розмір шрифту */
}

/* Загальні стилі для "UA | EN" */
.right-align {
  text-align: right;
  font-size: 16px; /* Змінюємо розмір шрифту */
  color: blue; /* Змінюємо колір тексту */
}

/* Виділяємо "UA" жирним шрифтом */
.right-align .bold {
  font-weight: bold;
}

/* Для "UA | EN" на малих екранах */
@media (max-width: 768px) {
  .right-align {
    text-align: center; /* Вирівнюємо текст по центру */
  }

  .right-align .bold {
    font-weight: normal; /* Знімаємо жирний шрифт */
  }
}

.center {
  text-align: center;
}

.text-container {
  display: flex;
  align-items: center; /* Розміщуємо елементи по вертикалі по центру */
}

.best-text {
  font-size: 25px; /* Змінюємо розмір шрифту для "Best" */
  margin-right: 10px; /* Додаємо зазор між "Best" і "Bank" */
  font-weight: bold;
}

.bank-text {
  font-size: 11px; /* Змінюємо розмір шрифту для "Bank" */
}

.best-bank {
  margin-right: 550px; /* Додайте бажаний відступ вправо */
}

.bold {
  font-weight: bold;
}

.deposit {
  position: absolute; /* Встановлюємо позицію абсолютною */
  bottom: 550px; /* Розташовуємо внизу блока (нижче інших елементів) */
  left: 0; /* Вирівнюємо ліворуч */
  color: blue; /* Змінюємо колір тексту */
  font-weight: bold;
  font-size: 25px; /* Змінюємо розмір шрифту */
  left: 20px; /* Додамо відступ зліва */
}

img {
  width: 20px; /* Задайте бажаний розмір для вашої картинки */
  margin-right: 5px; /* Встановіть бажаний відступ між картинкою і текстом */
}

.phone {
  display: flex;
  align-items: center; /* Вирівнюємо центрально по горизонталі */
  margin-left: 10px; /* Додайте бажаний відступ між текстом та зображенням */
}

.phone img {
  max-width: 100%; /* Робимо зображення телефону адаптивним до ширини батьківського блока */
}

/* Для тексту номеру телефону */
.phone .phone-number {
  font-size: 16px; /* Задайте бажаний розмір шрифту */
}

/* Для блока тексту і зображення на малих екранах */
@media (max-width: 768px) {
  .text-container {
    flex-direction: column; /* Змінюємо напрямок flex-контейнера на вертикальний */
    align-items: center; /* Вирівнюємо центрально по горизонталі */
  }

  .phone {
    text-align: center; /* Вирівнюємо текст по центру */
  }

  .phone img {
    margin-top: 10px; /* Додайте відступ від зверху */
  }

  .phone .phone-number {
    font-size: 14px; /* Задайте бажаний розмір шрифту для малих екранів */
  }
}

.gray-block {
  background-color: rgb(154, 150, 159);
  width: 50%; /* Збільшимо ширину блоку на 5% */
  height: 50%;
  padding: 25px; /* Збільшимо відступ всередині блоку */
  position: absolute;
  bottom: 150px; /* Підніміть блок на 20 пікселів вище */
}

.white-block {
  background-color: rgb(236, 239, 249);
  width: 50%; /* Збільшимо ширину блоку на 5% */
  height: 50%;
  padding: 25px; /* Збільшимо відступ всередині блоку */
  position: absolute;
  bottom: 150px; /* Підніміть блок на 20 пікселів вище */
  right: 0;
}








